<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>The HTML5 Herald</title>
		<meta name="description" content="The HTML5 Herald">
		<meta name="author" content="SitePoint">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<link rel="stylesheet" href=<%= asset_path('assets/css/main.css') %>>
		<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src=<%= asset_path('assets/js/jquery.tablesorter.js') %>></script>
		<script src=<%= asset_path('assets/js/get_notices.js') %>></script>
	</head>

	<body>
		<div class="container">
			<div >
				<h1>New notices</h1>
				<table class="table table-striped-red table-inverse" id="new_notices">
					<thead>
						<tr>
							<th class="amount">€</th>
							<th class="description">Description</th>
							<th class="date text-right">Date</th>
							<th class="tag text-center">Tag</th>
							<th class="sort text-right">Sort</th>
						</tr>
					</thead>
					<tbody>
						<% @new_notices.each do |notice| %>
						<tr>
							<td><%= notice.income ? "+" : "-" %><%= notice.amount %></td>
							<td><%= notice.from_name %></td>
							<td class="text-right"><%= DateTime.strptime(notice.epoch_time,'%s').to_formatted_s(:short) %></td>
							<td class="text-left">
								<select class="form-control">
									<option value="Select">Select</option>
									<option value="Hookah">Hookah</option>
									<option value="Eating out">Eating out</option>
									<option value="Gas">Gas</option>
									<option value="Taxes">Taxes</option>
									<option value="Food">Food</option>
									<option value="Car">Car</option>
									<option value="Swimming">Swimming</option>
									<option value="Alcohol">Alcohol</option>
									<option value="One time">One time</option>
									<option value="Other">Other</option>
								</select>
							</td>
							<td class="text-right">
								<button class="update_notice sort_notice" value=<%= 'notice/' + notice.id.to_s + '/edit' %>>X</button>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<%= button_to "Scan for new notices", { action: "scan" }, method: "get", class: "btn btn-blue btn-lg" %>
				<h1>Sorted notices</h1>
				<table class="table table-striped-green table-inverse" id="sorted_notices">
					<thead>
						<tr>
							<th class="amount">€</th>
							<th class="description">Description</th>
							<th class="date text-right">Date</th>
							<th class="tag text-center">Tag</th>
							<th class="sort text-right">Unsort</th>
						</tr>
					</thead>
					<tbody>
						<% @sorted_notices.each do |notice| %>
						<tr>
							<td><%= notice.income ? "+" : "-" %><%= notice.amount %></td>
							<td><%= notice.from_name %></td>
							<td class="text-right"><%= DateTime.strptime(notice.epoch_time,'%s').to_formatted_s(:short) %></td>
							<td class="tag text-center">
								<div class="tag-box">
									<%= notice.tag %>
								</div>
							</td>
							<td class="text-right">
								<button class="update_notice unsort_notice" value=<%= 'notice/' + notice.id.to_s + '/edit' %>>X</button>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<%= button_to "Export to excel", { action: "export" }, method: "get", class: "btn btn-brown btn-lg" %>
			</div>
		</div>
	</body>
</html>
