<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Clever Fund</title>
		<meta name="description" content="Clever Fund">
		<meta name="author" content="Risto Pärnapuu">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<link rel="stylesheet" href=<%= asset_path('assets/css/main.css') %>>
		<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src=<%= asset_path('assets/js/jquery.tablesorter.js') %>></script>
		<script src=<%= asset_path('assets/js/ajax_functionality.js') %>></script>
	</head>

	<body>
		<div class="container">
			<div >
				<h1>New notices</h1>
				<table class="table table-striped-red table-inverse" id="new_notices">
					<thead>
						<tr>
							<th class="amount">€</th>
							<th class="description">Description</th>
							<th class="date text-right">Date</th>
							<th class="tag text-right">Tag</th>
							<th class="sort text-right">Sort</th>
						</tr>
					</thead>
					<tbody>
						<% @new_notices.each do |notice| %>
						<tr>
							<td><%= notice.income ? "+" : "-" %><%= notice.amount %></td>
							<td><%= notice.from_name %></td>
							<td class="text-right"><%= DateTime.strptime(notice.epoch_time,'%s').to_formatted_s(:short) %></td>
							<td class="text-left">
								<select class="form-control form-tags">
									<option value="Select">Select</option>
									<% @tags.each do |tag| %>
										<div class="tag-container">
											<option value=<%= tag.name %>><%= tag.name %></option>
										</div>
									<% end %>
								</select>
							</td>
							<td class="text-right">
								<button class="update_notice sort_notice" value=<%= 'notice/' + notice.id.to_s + '/edit' %>>X</button>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<%= button_to "Scan for new notices", { action: "scan" }, method: "get", class: "btn btn-blue btn-lg" %>
				<h1>Sorted notices</h1>
				<table class="table table-striped-green table-inverse" id="sorted_notices">
					<thead>
						<tr>
							<th class="amount">€</th>
							<th class="description">Description</th>
							<th class="date text-right">Date</th>
							<th class="tag text-right">Tag</th>
							<th class="sort text-right">Unsort</th>
						</tr>
					</thead>
					<tbody>
						<% @sorted_notices.each do |notice| %>
						<tr>
							<td><%= notice.income ? "+" : "-" %><%= notice.amount %></td>
							<td><%= notice.from_name %></td>
							<td class="text-right"><%= DateTime.strptime(notice.epoch_time,'%s').to_formatted_s(:short) %></td>
							<td class="tag text-right">
								<div class="tag-box">
									<%= notice.tag %>
								</div>
							</td>
							<td class="text-right">
								<button class="update_notice unsort_notice" value=<%= 'notice/' + notice.id.to_s + '/edit' %>>X</button>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<%= button_to "Export to excel", { action: "export" }, method: "get", class: "btn btn-brown btn-lg" %>
				<div>
					<div class="col-sm-6 col-xs-12">
						<hr>
						<h3>Tags</h3>
						<form accept-charset="UTF-8" action="/tag/new" method="post">
							<div>
								<div class="input-group tag_form">
									<input type="text" class="form-control" id="name" name="tag[name]" type="text" placeholder="Tag name">
									<span class="input-group-btn">
										<button name="commit" type="submit" value="Create" class="btn btn-secondary btn-brown" type="button">Add</button>
									</span>
									<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-6 col-xs-12">
						<hr>
						<p>
						<% @tags.each do |tag| %>
							<div class="tag-container">
								<span><%= tag.name %></span>
								<%= hidden_field_tag :tag_id, tag.id %>
							</div>
						<% end %>
						</p>
					</div>
				</div>
				<div class="col-sm-12 col-xs-12 footer"></div>
			</div>
		</div>
	</body>
</html>
